<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
    </div>

    <footer class="footer">
      © 2022 AdminHospital by
      <a href="https://www.gumidev.com" target="_blank">GumiDev.</a> Code on <a href="https://github.com/devGumidafe/front-admin-hospital"> Github</a>
    </footer>
  </div>
</div>

<app-modal-image></app-modal-image>
