<div class="row">
  <div class="col-6">
    <app-dona
      [title]="'Sales 1'"
      [labels]="labels_1"
      [data]="data_1"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Sales 2'"
      [labels]="labels_2"
      [data]="data_2"
    ></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona
      [title]="'Sales 3'"
      [labels]="labels_3"
      [data]="data_3"
    ></app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Sales 4'"
      [labels]="labels_4"
      [data]="data_4"
    ></app-dona>
  </div>
</div>
