<div class="row animated fadeIn fast">
  <div class="col-4">
    <div class="car">
      <div class="card-body">
        <div class="table-responsive">
          <h3>Usuarios</h3>

          <div class="alert alert-info text-center">
            <p>0 usuarios encontrados</p>
          </div>

          <table class="table color-table primary-table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nigam</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="car">
      <div class="card-body">
        <div class="table-responsive">
          <h3>Médicos</h3>

          <div class="alert alert-info text-center">
            <p>0 médicos encontrados</p>
          </div>

          <table class="table color-table success-table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nigam</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="car">
      <div class="card-body">
        <div class="table-responsive">
          <h3>Hospitales</h3>

          <div class="alert alert-info text-center">
            <p>0 hospitales encontrados</p>
          </div>

          <table class="table color-table info-table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nigam</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
