.image-container{
    width: 90%;
    height: 768px;
    background-image: url(../../../assets/images/hospital-home.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}


